* {
   padding: 0;
   margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap');
body {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.col {
    width: calc(80% / 4);
    padding: 20px;
    margin: 15px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    background: #f9f9f9;
    border-radius: 1rem;
}
.col img {
    /* max-height: 178px; */
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

h3  {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5625rem;
    padding: 1.5625rem 0;
}
h3 a {
    color: #000;
    text-decoration: none;
}
h3 a:hover {
    text-decoration: underline;
    color: blue;
}
h4.post-author {
    padding-top: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}
p {
    font-size: 1rem;
    font-weight: 400;
}
.post-date {
    font-size: 1rem;
    padding-top: 1rem;
}
/* IMAGE */
.img {
	position: relative;
    overflow: hidden;
}
.img::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.img:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
@media all and (max-width: 1416px) and (min-width: 1024px) {
    .col {
        width: calc(80% / 3);
    }
}
@media all and (max-width: 1023px) and (min-width: 993px) {
    .col {
        width: calc(83% / 2);
    }
}

@media all and (max-width: 992px) {
    .wrapper {
        padding: 0 20px;
    }
    .row {
        display: block;
    }
    .col {
        width: 100%;
        padding: 0;
        margin: 40px 0;
    }
    .content {
        padding: 20px;
    }
}